# Compiled Lua sources
luac.out

# Luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files and binaries
*.o
*.os
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Development files
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
node_modules/
